/* CSS under er til handlekurv.html */
.checkout{
    width : 90%;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    margin-top: 20px;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0px 5px 5px; 
    background-color: #FFE119;
}

#coTimeSelect,#coBestill, #coRabattInput, .coVareKnapp{
    height: 30px;
    border: solid 1px;
    border-radius: 5px;
    background-color: #b82a31; 
}

#topBox{
    min-height: 200px;
}

#bottomBox{
    min-height: 220px;
}

#coVarer{
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 100px;
    width: 100%;
    border: solid 1px;
    border-radius: 5px;
    background-color: #b82a31;
    list-style-type: none;
    font-size: 22px;
}

.coVareP{
    padding-top: 5px;
    padding-bottom: 5px;
}

.coVareVen{
    display: inline-block;
    width: 80%;
}

.coVareHoy{
    display: inline-block;
    text-align: right;
    width: 19%;
}

.coVareKnapp{
    width: 30px;
    text-align: center;
    display: inline-block;
    background-color: #FFE119;
}

#coNedeLeft{
    position: absolute;
    display: inline-block;
    width: calc(35% - 45px);
    height: calc(100% - 60px);
}

#coNedeRight{
    position: absolute;
    left: calc(50% + 15px);
    display: inline-block;
    width: calc(50% - 45px);
    height: calc(100% - 60px);
}

#coLevering{
    position: absolute;
    width: 100%;
    height: 40%;
}

#coTime{
    display: table-cell;
    padding-left: 20px;
    vertical-align: middle;
    height: 50px;
}


#coTimeSelect{
    position: absolute;
    transform: translate(30%,-15%);
}

#coRabatt{
    position: absolute;
    top: 100%;
    transform: translate(0,-100%);
    width: 100%;
}

#coRabattInput{
    width: 100%;
    margin-top: 1%;
}

.coPayList{
    list-style-type: none;
    display: inline-block;
}

#leftList{
    position: absolute;
}

#rightList{
    position: absolute;
    left: 100%;
    transform: translate(-100%,0);
}

.leftListPoint,.rightListPoint{
    padding: 10px;
}

.rightListPoint{
    text-align: right;
}

#coBestill{
    width: 100%;
    position: absolute;
    left: 100%;
    top: 100%;
    transform: translate(-100%,-100%);
}