/* CSS below is for meny.html */
#Bmny, #Pmny, #Dmny, #DagTil{
    text-align: center;
}
#Pmny li, #Bmny li, #Dmny li{
    text-decoration: underline;
    list-style-type: none;
    margin:20px;
    font-size: 23px;
    font-weight: bold;
}

#pm {
    font-size: 10px;
    margin:0px;
    padding:0px;
}
.menyNav {
    position: fixed;
    left: 10%;
    z-index: 1;
    top: 75px;
    width: 10%;
    background:#FFE119;
    overflow-x: hidden;
    padding: 8px 0px 8px 5px;
    display: block;
    border:ridge black;
}

.menyNav h4 {
    font-size: 60px;
    font-weight: bold;
    text-decoration: underline;
}

.menyNav li {
    margin-top: 50px;
    font-size: 22px;
    font-weight: bold;
}

.menyNav li a {
    list-style: none;
    text-decoration: none;
    color:black;
}

.menyNav li a:hover {
    padding: 5px;
}

.menyNav h4 {
    font-size: 25px;
}

.menybutton {
    position: relative;
    margin:0px;
    padding:0px;
    font-size: 10px;
    box-shadow: inset 2px 2px 5px 0 rgba(255, 254, 254, 0.699);
}

.menybutton:hover {
    background-color: #b82a31;
    color: #ffe119;
    filter: drop-shadow(0px 5px 3px black);
    cursor: pointer;
}

.menyListe{
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    
}

.menyListeVenstre{
    width: 70%;
    display: inline-block;
    text-align: left;
}

.menyListeHoyre{
    width: 29%;
    display: inline-block;
    text-align: right;
}

.menyLinje{
    width: 100%;
    height: 2px;
    background-color: black;
}

.menyListeBesk{
    font-size: 11px;
    font-weight: bold;
}


img.animated-gifb{
    width: 200px;
    height: auto;
  }

  img.animated-gif{
    width: 300px;
    height: auto;
  }

@media screen and (max-width:900px){    
    .menyNav{
        display:none;
    }
    #Bmny, #Pmny, #Dmny, #DagTil{
        text-align: center;
        font-size: 16px;
    }
    #Pmny li, #Bmny li, #Dmny li{
        margin:20px;
        font-size: 16px;

    }
}

