/* Importing the "Montserrat" font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 15px 0px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

  }

  input[type=password], select {
    width: 50%;
    padding: 12px 20px;
    margin: 15px 0px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

  }
input[type=submit] {
    width: 30%;
    padding: 14px 20px;
    border-style:solid;
    border-radius: 30px;
    border-color: #b82a31;
    cursor: pointer;
  }
input[type=submit]:hover{
        background-color: #b82a31;
        color: #ffe119;
        filter: drop-shadow(0px 5px 3px black);
}
  
button {
        border-style:solid;
        border-radius: 30px;
        border-color: #b82a31;
        color: #1b1b1b;
        width: 150px;
        height: 50px;
        cursor: pointer;
        font-size: 16px;
        margin: 30px 0px 15px 0px;

    }
button:hover{
    background-color: #b82a31;
    color: #ffe119;
    filter: drop-shadow(0px 5px 3px black);
}

p{
    margin-top: 20px;
}

.container_ms{
    position: relative;
    margin: auto;
    background-color: #ffe119;
    margin-top: 6vh;  /* 6vh*/  
    width: 50%;
    padding-bottom: 100px;
    padding-top: 50px;
    text-align: center;
}


@media screen and (max-width: 900px) {
  .container_ms {
    width: 100%;
  }
}
