/* CSS below is for om_oss.html */

p {
    line-height: 1.4em;
}

#matrix {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #FFE119;
}

#upperDiv, #lowerDiv {
    height: 450px;
}

#NW, #NE, #SW, #SE {
    width: 50%;  
}

#upperDiv, #lowerDiv {
    position: relative;
}

#NW, #SW {    
    height: 100%;
}

#NE, #SE {
    height: 100%;
    position: absolute; right: 0px; top: 0px;
}

#burgerPic, #chefPic {
    width: 100%;
    height: 100%;
}

#matrix h1 {
    text-align: center;
    color: #b82a31;;
}

#upperDiv section, #lowerDiv section {
    padding: 20px 20px;
}

@media screen and (max-width:1355px){
    #SE {
        overflow-y: scroll;
    }
    #SE::-webkit-scrollbar {
        width: 10px;
    }
     
    #SE::-webkit-scrollbar-track {
        background-color: #e4e4e4;
        border-radius: 100px;
    }
     
    #SE::-webkit-scrollbar-thumb  {
        background-image: linear-gradient(180deg, RED 0%, YELLOW 99%);
        box-shadow: inset 2px 2px 5px 0 rgba(255, 254, 254, 0.699);
        border-radius: 100px;
    }
}

@media screen and (max-width:1000px){
    #NW {
        overflow-y: scroll;
    }
    #NW::-webkit-scrollbar {
        width: 10px;
    }
     
    #NW::-webkit-scrollbar-track {
        background-color: #e4e4e4;
        border-radius: 100px;
    }
     
    #NW::-webkit-scrollbar-thumb{
        background-image: linear-gradient(180deg, RED 0%, YELLOW 99%);
        box-shadow: inset 2px 2px 5px 0 rgba(255, 254, 254, 0.699);
        border-radius: 100px;
    }
}