/* Importing the "Montserrat" font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #b82a31;
    min-height: calc(100vh);
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

footer{
    height: 100px;
}

button {
    font-family: 'Montserrat', sans-serif;
}

/* ###### navigation bar ##### */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh; 
    background-color: #FFE119;
    border-bottom: 1px solid #1b1b1b;
}

.logo img {
    height: 50px;
}

.nav-links , .footer-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.footer-links {
    width: 100%;
}

.nav-links li , .footer-links li{
    list-style: none;
}

.nav-links a , .footer-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
}

.footer-links a {
    color: white;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
}

/* media query navbar for mobile devices */
@media screen and (max-width:900px){    
    body {
        overflow-x: hidden;

    }

    .nav-links {
        position: absolute;
        z-index: 1;
        left: 0px;
        height: 92vh;
        top: 8vh;
        background-color:#FFE119;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}
/* ###### navigation bar ##### */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
   /* position: fixed; */
    color: white;
    background-color: #1b1b1b;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    min-height: 8vh;
}

.nav-links a:hover {
    color: white;
    
}

.footer-links a:hover {
    color: #FFE119;
    filter: drop-shadow(0px 5px 3px black);
}

.logo:hover {
    animation-name: moveRight; 
    animation-duration: 1s; 
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes moveRight {
    from {transform:translateX(0%)}
    to {transform: translateX(100%);}
}

/* ############# footer media queries ##########*/
@media screen and (max-width:1080px) {
    #copyright{
        display: none;
    }    
}

@media screen and (max-width:850px) {
    #mail{
        display: none;
    }    
}
/* ############# footer media queries ##########*/

/* CSS under er til handlekurv dropdown */
#hkMain{
    position: absolute;
    right: 1%;
    top: 7%;
    min-height: 80px;
    width: 250px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px; 
    background-color: white;
    z-index: 3;
}

#hkBody{
    padding: 10px;
}

#hkListe{
    padding-top: 10px;
    font-size: 14px;
    list-style-type: none;
}

.hkListeV, .hkListeH{
    display: inline-block;
    
}

.hkListeV{
    width: 75%;
}

.hkListeH{
    width: 23%;
    text-align: right;
}

#hkKnapp{
    width: 100%;
    height: 30px;
    border: solid 1px;
    border-radius: 5px;
    background-color: #b82a31; 
    margin-top: 15px;
}

#navCart:hover{
    cursor: pointer;
} 